.banner {
    margin-top: 20px;
    /* padding-left: 10%; */
    /* padding: auto; */
    /* border-radius: 10px; */
}
.look{
    border-radius: 10px;
    margin-left: 13px;
  
    
    width: 90%;
  
    left: 40px;
    height: 9rem;
    


    
}